
<div ng-controller="lightController">
 <center> <div class="btn-group" ng-init="style={'background-color' : 'green'}">
 
      <span class="flaticon-oil:" ng-style="color" ng-click="changecolor('green')"></span>
	  <span class="flaticon-parking-lights" ng-style="color" ng-click="changecolor('green')"></span>
	  <span class="flaticon-rear-window-defrost" ng-style="color" ng-click="changecolor('green')"></span>
	  <span class="flaticon-recirculation" ng-style="color" ng-click="changecolor('green')"></span>
	  <span class="flaticon-seatbelt" ng-style="color" ng-click="changecolor('green')"></span>
	  <span class="flaticon-trunk" ng-style="color" ng-click="changecolor('green')"></span>
	  <span class="flaticon-turn-signals" ng-style="color" ng-click="changecolor('green')"></span>
      <span class="flaticon-ventilating-fan" style="color:red"></span>
	     
	<!-- <span class="flaticon-high-beam " style="color:blue" ng-click="changebeam()" ng-show="beam"></span>
		  <span class="flaticon-low-beam" style="color:green" ng-click="changebeam()" ng-hide="beam"></span> -->
	  </div></center>
  <br>
</div>


