<div ng-controller="lightController">
 <center> <div class="btn-group" ng-init="style={'background-color' : 'green'}">
 
      <span class="flaticon-air-conditioning" ng-style="color" ng-click="changecolor('green')"></span>
	  <span class="flaticon-air-outlet" ng-style="color" ng-click="changecolor('green')"></span>
	  <span class="flaticon-airbag" ng-style="color" ng-click="changecolor('green')"></span>
	  <span class="flaticon-battery" ng-style="color" ng-click="changecolor('green')"></span>
	  <span class="flaticon-hood blink" ng-style="color" ng-click="changecolor('green')"></span>
	  <span class="flaticon-dome-light" ng-style="color" ng-click="changecolor('green')"></span>
      <span class="flaticon-doors blink" ng-style="color" ng-click="changecolor('green')"></span>
	  <span class="flaticon-engine-coolant" ng-style="color" ng-click="changecolor('green')"></span>
	  <span class="flaticon-fog-light" ng-style="color" ng-click="changecolor('green')"></span>
	  <span class="flaticon-fuel-filling blink" ng-style="color" ng-click="changecolor('green')"></span>
	  <span class="glowplug blink" ng-style="color" ng-click="changecolor('green')"></span>
	  <span class="flaticon-hazard" ng-style="color" ng-click="changecolor('green')"></span>
	  <span class="flaticon-hood" ng-style="color" ng-click="changecolor('green')"></span>
	   <span class="flaticon-malfunction-indicador blink" ng-style="color" ng-click="changecolor('green')"></span>
	  
	  <!--Clinigtion-->
	  
	    <!-- <span class="flaticon-high-beam " style="color:blue" ng-click="changebeam()" ng-show="beam"></span>
		  <span class="flaticon-low-beam" style="color:green" ng-click="changebeam()" ng-hide="beam"></span>
	 -->
	  </div></center>
  <br>
</div>